<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Price:</b>
  <%= price %>
</p>

<p>
  <b>Quantity:</b>
  <%= quantity %>
</p>

<p>
  <b>Category:</b>
  <%= category_id %>
</p>


<a href="#/index">Back</a>